img {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 180px;
    height: 160px;
}

h3 {
    padding-left: 15%;
}

form {
    padding-left: 15%;
}

.nav{
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(163, 34, 34);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(85, 9, 9);
  }


.fieldset {
    padding-right: 1em;
}